body {
  background: linear-gradient(to right, Maroon, green);
  /*height: 100vh;*/
  font-family: 'Arial' 'Comic Sans MS', sans-serif;
}


h1, h2, p {
  text-align: center; 
}

img {
  border: 5px dotted grey;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}

.screenshots-item {
  padding-bottom: 10px;
}

.about-game-start {
   background: linear-gradient(to right, green, Maroon);
   border-bottom: 5px grey solid;
}
.about-game-start a {
  padding: 10px 0;
  font-size: 18px;
  display: block;
  text-align: center;
}

a:active, a:visited, a:link {
  color: white;  
}

a:hover {
  color: yellow;
}

.blink {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  animation:blur .75s ease-out infinite;
  text-shadow:text-shadow: 0 0 5px #abc, 0 0 7px #abc;
}

@keyframes blur {
  from {
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
    margin: 0 auto;
}